@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}

body {
  max-width: 768px;
  display: grid;
  gap: 20px;
  grid-template-rows: 120px 300px 1fr 100px;
  background-color: black;
}

/* Content css */
.main {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 25px;
}
.profile {
  border-radius: 20px;
  background-color: rgba(73, 73, 73, 0.24);
  margin-left: 20px;
  width: 100%;
  height: 100%;
}
.user {
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 100px;
  width: 120px;
  height: 120px;
}
i {
  color: #ff6600;
}
i:hover {
  transform: rotate(20deg);
  transition: 0.2s;
}
.bio {
  text-indent: 10px;
}
.socials {
  width: 100%;
  margin-top: 20px;
  list-style: none;
  display: flex;
  cursor: pointer;
}
.title {
  max-width: 90%;
  min-height: 100%;
  border-radius: 10px;
}

.content {
  margin-left: 20px;
}
.content h1 {
  text-transform: capitalize;
  font-size: 2em;
}
.boruto-text {
  margin-left: 20px;
  width: 90%;
  border-radius: 20px;
}
.caption2 {
  color: rgb(122, 4, 24);
}
h3 {
  text-indent: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.text {
  text-align: center;
  text-justify: auto;
  margin: 20px;
}
q b {
  color: #ff6600;
}
.return_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  height: 50px;
  background-color: black;
}
button:hover {
  background-color: rgb(248, 104, 1);
}

.constructionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.construction {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
